@{
    ViewData["Title"] = "Login";
}

<div class="login">
    <h1>WELCOME</h1>
    <input type="text" placeholder="Username">
    <input type="password" placeholder="Password">
    <button>Login</button>
    <p>Forgot your password? <a asp-controller="Login" asp-action="click Here">Click here</a></p>
    <p>Don't have an account? <a asp-controller="Login" asp-action="Register">Register</a></p>
</div>