@{
    ViewData["Title"] = "Register";
}
<div class="registration">
    <h1>Create your account</h1>
    <input type="text" placeholder="Email">
    <input type="text" placeholder="Full name">
    <input type="text" placeholder="User">
    <input type="password" placeholder="Password">
    <input type="password" placeholder="Confirm Password">
    <input type="text" placeholder="Company">
    <input type="text" placeholder="Phone">
    <label><input type="checkbox">I read and accept the terms and conditions.</label>
    <button>Register</button>
</div>