html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Estilo para o contêiner principal da tela de login */
.welcome {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
}

/* Estilo para o formulário de login */
form {
    display: flex;
    flex-direction: column;
}

/* Estilo para as caixas de input */
input[type="text"], input[type="password"] {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para o botão de login */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

/* Estilo para o link de registro */
a {
    text-align: center;
    display: block;
    margin-top: 10px;
}
